@import 'tailwindcss';
@plugin '@tailwindcss/forms';

/*
Source - https://stackoverflow.com/a
Posted by nayemalways, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-28, License - CC BY-SA 4.0
*/
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}

.gradient {
  background: #2b8eff;
  background: linear-gradient(180deg,
      rgba(43, 142, 255, 1) 0%,
      rgba(56, 0, 102, 1) 61%,
      rgba(24, 107, 39, 1) 85%,
      rgba(86, 227, 187, 1) 100%);
}

@font-face {
  font-family: 'TokyoSoft';
  font-style: normal;
  font-weight: 500;
  src: url('/TokyoSoft.ttf');
}

@font-face {
  font-family: 'Neuropol';
  font-style: normal;
  font-weight: 500;
  src: url('/neuropol.ttf');
}

@font-face {
  font-family: 'Vorpal';
  font-style: normal;
  font-weight: 500;
  src: url('/VorpalCondensed.ttf');
}

@font-face {
  font-family: 'Rainbow';
  font-style: normal;
  font-weight: 500;
  src: url('/Rainbow100.ttf');
}
